{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="footer__content-top page-width">
    <div class="newsletter center">
      <div class="newsletter__wrapper content-container">
        <h2
          class="inline-richtext h1{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {{ section.settings.newsletter_heading }}
        </h2>
        <div
          class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {{ section.settings.newsletter_paragraph }}
        </div>
        <div>
          {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div
              class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              <div class="field">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                >
                <label class="field__label" for="NewsletterForm--{{ section.id }}">
                  {{ 'newsletter.label' | t }}
                </label>
                <button
                  type="submit"
                  class="newsletter-form__button field__button"
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                >
                  <span class="svg-wrapper">
                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                  </span>
                </button>
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="Newsletter-success--{{ section.id }}"
                tabindex="-1"
                autofocus
              >
                <span class="svg-wrapper">
                  {{- 'icon-success.svg' | inline_asset_content -}}
                </span>
                {{- 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {% endform %}
        </div>
      </div>
    </div>

    <div
      class="footer--menu grid grid--3-col-tablet grid--2-col-mobile{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
        style="--animation-order: {{ forloop.index }};"
      {% endif %}
    >
      <ul class="footer-block__details-content list-unstyled grid__item tablet-up" role="list">
        {%- if settings.social_facebook_link != blank -%}
          <li>
            <a href="{{ settings.social_facebook_link }}" class="list-menu__item--link link">
              <span class="name">{{ 'general.social.links.facebook' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li>
            <a href="{{ settings.social_instagram_link }}" class="list-menu__item--link link">
              <span class="name">{{ 'general.social.links.instagram' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_tiktok_link != blank -%}
          <li>
            <a href="{{ settings.social_tiktok_link }}" class="list-menu__item--link link">
              <span class="name">{{ 'general.social.links.tiktok' | t }}</span>
            </a>
          </li>
        {%- endif -%}
      </ul>

      {%- if linklists.footer -%}
        <ul class="footer-block__details-content list-unstyled grid__item">
          {%- for link in linklists.footer.links -%}
            <li>
              <a
                href="{{ link.url }}"
                class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
              >
                {{ link.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      {%- if linklists['footer-2'] != blank -%}
        <ul class="footer-block__details-content list-unstyled grid__item">
          {%- if settings.social_facebook_link != blank -%}
            <li class="mobile">
              <a href="{{ settings.social_facebook_link }}" class="list-menu__item--link link">
                <span class="name">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_instagram_link != blank -%}
            <li class="mobile">
              <a href="{{ settings.social_instagram_link }}" class="list-menu__item--link link">
                <span class="name">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
            <li class="mobile">
              <a href="{{ settings.social_tiktok_link }}" class="list-menu__item--link link">
                <span class="name">{{ 'general.social.links.tiktok' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- for link in linklists['footer-2'].links -%}
            <li>
              <a
                href="{{ link.url }}"
                class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
              >
                {{ link.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__tagline">
        <h3 class="h3">Smart indoor plant care, made easy</h3>
      </div>
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ shop.name | link_to: routes.root_url -}}
          {{ 'now' | date: '%Y' }}
        </small>
        <small>ABN 43 659 738 155</small>
      </div>
      <div class="footer__logo">
        <svg width="68" height="93" viewBox="0 0 68 93" fill="#D1FEA4" xmlns="http://www.w3.org/2000/svg">
          <path d="M31.7259 60.6367H3.51946C1.57831 60.6367 0 62.215 0 64.1562V67.0842C0 68.6952 1.08849 70.0522 2.56521 70.4694L5.26104 88.0377C5.67104 90.7117 7.9351 92.6529 10.6382 92.6529H25.4018C28.1085 92.6529 30.3689 90.7117 30.7789 88.0377L33.5328 70.0993C34.556 69.4825 35.2453 68.365 35.2453 67.0842V64.1562C35.2453 62.215 33.667 60.6367 31.7259 60.6367ZM3.03689 64.1598C3.03689 63.8949 3.25459 63.6772 3.51946 63.6772H31.7223C31.9871 63.6772 32.2048 63.8949 32.2048 64.1598V67.0878C32.2048 67.3527 31.9871 67.5704 31.7223 67.5704H3.51946C3.25459 67.5704 3.03689 67.3527 3.03689 67.0878V64.1598ZM27.7783 87.5732C27.5969 88.7524 26.5991 89.6124 25.4018 89.6124H10.6382C9.44448 89.6124 8.44306 88.7561 8.26165 87.5732L5.66378 70.6545H30.3725L27.7747 87.5732H27.7783Z" fill="#D1FEA4"/>
          <path d="M8.56662 45.8946C11.335 47.941 14.2594 48.2385 16.1026 48.1659V57.3673C16.1026 58.2054 16.7811 58.8876 17.6229 58.8876C18.4646 58.8876 19.1431 58.2091 19.1431 57.3673V46.4497C19.1431 45.9817 18.9254 45.5427 18.5553 45.256C18.1889 44.9694 17.7027 44.8678 17.2491 44.9766C17.1004 45.0129 13.6027 45.8402 10.3699 43.4491C8.45051 42.0305 7.31485 40.2671 6.69078 39.0045C8.47591 38.863 10.8379 38.8666 12.1695 39.5414C14.6767 40.8077 16.5017 42.7053 16.5199 42.7235C16.9516 43.1806 17.6229 43.3221 18.2034 43.0827C18.7839 42.8432 19.1576 42.2699 19.1431 41.6422C19.1431 41.5914 19.0343 36.3812 20.511 32.8109C21.5741 30.2421 22.9238 28.5005 23.9143 27.4556C24.4985 29.1028 25.2133 32.0018 25.2133 36.2941C25.2133 41.5987 22.8766 42.3897 21.487 42.3897C20.6489 42.3897 19.9667 43.0682 19.9667 43.9099C19.9667 44.7517 20.6452 45.4302 21.487 45.4302C25.6596 45.4302 28.2538 41.9289 28.2538 36.2941C28.2538 28.0651 25.8228 24.2772 25.7176 24.1175C25.2568 23.4173 24.3171 23.2213 23.6132 23.6821C23.4681 23.7801 19.9921 26.1058 17.6991 31.6463C16.7884 33.8523 16.3892 36.4683 16.2223 38.4856C15.4568 37.9268 14.5497 37.3354 13.5374 36.8275C10.388 35.2383 4.91291 36.1272 4.29973 36.2361C3.88247 36.3086 3.51602 36.5517 3.28743 36.9037C3.05885 37.2592 2.98628 37.691 3.08788 38.101C3.13504 38.2897 4.28522 42.7271 8.56662 45.8946Z" fill="#D1FEA4"/>
          <path d="M62.875 0.972656H35.4196C32.858 0.972656 30.7754 3.0553 30.7754 5.61689V17.8733C30.7754 20.3551 32.731 22.3869 35.1802 22.5103V27.1799C35.1802 27.7895 35.543 28.3373 36.1017 28.5768C36.294 28.6602 36.4972 28.7002 36.6968 28.7002C37.0814 28.7002 37.4624 28.555 37.749 28.2756L43.7466 22.5139H62.8714C65.433 22.5139 67.5156 20.4313 67.5156 17.8697V5.61689C67.5156 3.0553 65.433 0.972656 62.8714 0.972656H62.875ZM64.4787 17.8697C64.4787 18.755 63.7603 19.4734 62.875 19.4734H43.1407C42.7488 19.4734 42.3715 19.6258 42.0884 19.8979L38.2207 23.6133V20.9936C38.2207 20.1555 37.5422 19.4734 36.7004 19.4734H35.4196C34.5343 19.4734 33.8159 18.755 33.8159 17.8697V5.61689C33.8159 4.73158 34.5343 4.01318 35.4196 4.01318H62.875C63.7603 4.01318 64.4787 4.73158 64.4787 5.61689V17.8733V17.8697Z" fill="#D1FEA4"/>
        </svg>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Emails you'll be frond of",
      "label": "Newsletter Title"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_paragraph",
      "default": "Plant-y of deals and content you'll dig, right to your inbox",
      "label": "Newsletter Paragraph"
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu 2"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {}
}
{% endschema %}
