{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'section-reviews.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and shop.metaobjects.review.values_count > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="reviews-section color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="reviews-wrapper page-width">
    {%- unless section.settings.title == blank -%}
      <div class="{{ section.settings.heading_alignment }}">
        <h2 class="title {{ section.settings.heading_size }} {{ section.settings.heading_alignment }}">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.paragraph != blank -%}
          <p class="subtitle">
            {{- section.settings.paragraph | escape -}}
          </p>
        {%- endif -%}
      </div>
    {%- endunless -%}

    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--4-col-desktop{% if show_mobile_slider %} slider slider--tablet{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {% for review in shop.metaobjects.review.values limit: 4 %}
          {%- liquid
            assign rating = 4.5
            assign id = review.system.handle
            assign image = review.image.value
            assign ratio = 1.2
          -%}
          {{ review.rating.rating }}
          {{ review.rating.scale_max }}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="card-wrapper">
              <div class="card review-card card--card card--media color-scheme-4">
                <div
                  class="card__inner gradient ratio"
                  style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
                >
                  <div class="review-card__image-wrapper">
                    <div
                      class="review-card__image media card__media"
                      {% if section.settings.media_height == 'adapt' %}
                        style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"
                      {% endif %}
                    >
                      {{
                        image
                        | image_url: width: 1080
                        | image_tag:
                          loading: loadType,
                          sizes: '(min-width: 990px) calc(55vw - 40px / 2), (min-width: 750px) calc(50vw - 40px / 2)',
                          widths: '246, 493, 600, 713, 823, 990, 1080'
                      }}
                    </div>
                  </div>
                </div>
                <div class="card__content">
                  <div class="card__information">
                    <div class="review-rating">
                      {% assign rating = review.stars.value %}
                      {% for i in (1..5) %}
                        {% assign this = i | plus: 0.0 %}
                        {% assign prev = this | minus: 1.0 %}
                        {% if rating >= this %}
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
                            <path width="20" height="20" fill="#d6bd52" d="M11.1488 2.23197C10.7159 1.22183 9.28382 1.22183 8.85091 2.23197L6.95034 6.66662H2.67243C1.5588 6.66662 1.00109 8.01305 1.78854 8.8005L4.91029 11.9222L3.59487 17.1839C3.32787 18.2519 4.47191 19.1186 5.42772 18.5724L9.99984 15.9597L14.572 18.5724C15.5278 19.1186 16.6718 18.2519 16.4048 17.1839L15.0894 11.9222L18.2111 8.8005C18.9986 8.01304 18.4409 6.66662 17.3272 6.66662H13.0493L11.1488 2.23197Z"></path>
                          </svg>
                        {% elsif rating > prev %}
                          {% liquid
                            assign rating_percent = 0
                            assign decimal = rating | modulo: 1
                            if decimal < 0.3
                              assign rating_percent = 25
                            elsif decimal >= 0.3 and decimal <= 0.7
                              assign rating_percent = 50
                            elsif decimal > 0.7
                              assign rating_percent = 75
                            endif
                          %}
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
                            <style type="text/css">
                              .gadient-star{fill:url(#RatingGradient)}
                            </style>
                            <defs>
                              <linearGradient id="RatingGradient">
                                <stop offset="0%" stop-color="#d6bd52" style="stop-opacity:1"/>
                                <stop offset="{{ rating_percent }}%" stop-color="#d6bd52" style="stop-opacity:1"/>
                                <stop offset="{{ rating_percent }}%" stop-color="#aaa" style="stop-opacity:1" />
                                <stop offset="100%" stop-color="#aaa" style="stop-opacity:1" />
                              </linearGradient>
                            </defs>
                            <path class="gadient-star" width="20" height="20" d="M11.1488 2.23197C10.7159 1.22183 9.28382 1.22183 8.85091 2.23197L6.95034 6.66662H2.67243C1.5588 6.66662 1.00109 8.01305 1.78854 8.8005L4.91029 11.9222L3.59487 17.1839C3.32787 18.2519 4.47191 19.1186 5.42772 18.5724L9.99984 15.9597L14.572 18.5724C15.5278 19.1186 16.6718 18.2519 16.4048 17.1839L15.0894 11.9222L18.2111 8.8005C18.9986 8.01304 18.4409 6.66662 17.3272 6.66662H13.0493L11.1488 2.23197Z"></path>
                          </svg>
                        {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
                            <path width="20" height="20" fill="#aaa" d="M11.1488 2.23197C10.7159 1.22183 9.28382 1.22183 8.85091 2.23197L6.95034 6.66662H2.67243C1.5588 6.66662 1.00109 8.01305 1.78854 8.8005L4.91029 11.9222L3.59487 17.1839C3.32787 18.2519 4.47191 19.1186 5.42772 18.5724L9.99984 15.9597L14.572 18.5724C15.5278 19.1186 16.6718 18.2519 16.4048 17.1839L15.0894 11.9222L18.2111 8.8005C18.9986 8.01304 18.4409 6.66662 17.3272 6.66662H13.0493L11.1488 2.23197Z"></path>
                          </svg>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="review-content">
                      <input type="checkbox" class="readmore" id="{{ id }}">
                      <div class="truncated">
                        {{ review.content.value }}
                        <span class="ellipsis">...</span>
                      </div>
                      <div class="full">
                        {{ review.content.value }}
                      </div>
                      <label for="{{ id }}" class="readmore-trigger">
                        Read <span class="more"> more</span><span class="less"> less</span>
                      </label>
                      <div class="verified">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.20001 6.97266L6.40001 8.17267L9.10001 5.47266M4.20027 2.06388C4.68256 2.02539 5.14043 1.83573 5.50869 1.52191C6.36803 0.789572 7.63199 0.789572 8.49131 1.52191C8.85959 1.83573 9.31745 2.02539 9.79973 2.06388C10.9253 2.15369 11.819 3.04742 11.9088 4.17292C11.9473 4.65522 12.1369 5.11309 12.4508 5.48134C13.1831 6.34068 13.1831 7.60464 12.4508 8.46397C12.1369 8.83225 11.9473 9.29011 11.9088 9.77239C11.819 10.8979 10.9253 11.7916 9.79973 11.8814C9.31745 11.92 8.85959 12.1096 8.49131 12.4234C7.63199 13.1557 6.36803 13.1557 5.50869 12.4234C5.14043 12.1096 4.68256 11.92 4.20027 11.8814C3.07477 11.7916 2.18104 10.8979 2.09122 9.77239C2.05273 9.29011 1.86308 8.83225 1.54925 8.46397C0.816916 7.60464 0.816916 6.34068 1.54925 5.48134C1.86308 5.11309 2.05273 4.65522 2.09122 4.17292C2.18104 3.04742 3.07477 2.15369 4.20027 2.06388Z" stroke="#232222" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Verified customer
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
          <div class="slider-counter slider-counter--dots">
            <div class="slideshow__control-wrapper">
              {%- for review in shop.metaobjects.review.values limit: 4 -%}
                <button
                  class="slider-counter__link slider-counter__link--dots link"
                  aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                  aria-controls="Slider-{{ section.id }}"
                  data-target="{{ forloop.index }}"
                >
                  <span class="dot"></span>
                </button>
              {%- endfor -%}
            </div>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
  <div class="center">
    {%- if section.settings.button_label != blank -%}
      <a
        class="button button--primary"
        {% if section.settings.button_link == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{{ section.settings.button_link }}"
        {% endif %}
      >
        {{ section.settings.button_label | escape }}
      </a>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.multicolumn.settings.title.default",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "inline_richtext",
      "id": "paragraph",
      "label": "Subheading"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "Header alignment"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.multicolumn.settings.button_label.default",
      "label": "t:sections.multicolumn.settings.button_label.label",
      "info": "t:sections.multicolumn.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Reviews"
    }
  ]
}
{% endschema %}
